## Pandas 기본실습

1. Pandas로 boston_train.csv 파일을 읽는다.

In [3]:
import pandas as pd

In [2]:
data = pd.read_csv("boston_train.csv")

1.1 속성 출력 : shape, index, values

In [4]:
data.shape

(400, 10)

In [7]:
data.index

RangeIndex(start=0, stop=400, step=1)

In [11]:
data.values

array([[2.30040e+00, 0.00000e+00, 1.95800e+01, ..., 4.03000e+02,
        1.47000e+01, 2.38000e+01],
       [1.33598e+01, 0.00000e+00, 1.81000e+01, ..., 6.66000e+02,
        2.02000e+01, 1.27000e+01],
       [1.27440e-01, 0.00000e+00, 6.91000e+00, ..., 2.33000e+02,
        1.79000e+01, 2.66000e+01],
       ...,
       [1.38799e+00, 0.00000e+00, 8.14000e+00, ..., 3.07000e+02,
        2.10000e+01, 1.32000e+01],
       [7.36711e+00, 0.00000e+00, 1.81000e+01, ..., 6.66000e+02,
        2.02000e+01, 1.10000e+01],
       [1.41500e-01, 0.00000e+00, 6.91000e+00, ..., 2.33000e+02,
        1.79000e+01, 2.53000e+01]])

In [13]:
data.head()

       CRIM    ZN  INDUS    NOX     RM   AGE     DIS  TAX  PTRATIO  MEDV
0   2.30040   0.0  19.58  0.605  6.319  96.1  2.1000  403     14.7  23.8
1  13.35980   0.0  18.10  0.693  5.887  94.7  1.7821  666     20.2  12.7
2   0.12744   0.0   6.91  0.448  6.770   2.9  5.7209  233     17.9  26.6
3   0.15876   0.0  10.81  0.413  5.961  17.5  5.2873  305     19.2  21.7
4   0.03768  80.0   1.52  0.404  7.274  38.3  7.3090  329     12.6  34.6

In [16]:
data.dtypes

CRIM       float64
ZN         float64
INDUS      float64
NOX        float64
RM         float64
AGE        float64
DIS        float64
TAX          int64
PTRATIO    float64
MEDV       float64
dtype: object

In [18]:
data.columns

Index(['CRIM', 'ZN', 'INDUS', 'NOX', 'RM', 'AGE', 'DIS', 'TAX', 'PTRATIO',
       'MEDV'],
      dtype='object')

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     400 non-null    float64
 1   ZN       400 non-null    float64
 2   INDUS    400 non-null    float64
 3   NOX      400 non-null    float64
 4   RM       400 non-null    float64
 5   AGE      400 non-null    float64
 6   DIS      400 non-null    float64
 7   TAX      400 non-null    int64
 8   PTRATIO  400 non-null    float64
 9   MEDV     400 non-null    float64
dtypes: float64(9), int64(1)
memory usage: 31.4 KB

1.2 행(row)으로 접근

In [ ]:
for i in range(len(data)):
    print(data.loc[i])
    print()

1.3 열(column)로 접근

In [ ]:
for col in list(data.columns):
    print(data[col])
    print()

1.4 열의 이름을 사용하여 해당 열을 추출하고 Series 객체 생성

In [30]:
series = data['INDUS']
series.info()

<class 'pandas.core.series.Series'>
RangeIndex: 400 entries, 0 to 399
Series name: INDUS
Non-Null Count  Dtype
--------------  -----
400 non-null    float64
dtypes: float64(1)
memory usage: 3.2 KB

1.5 열의 번호를 사용하여 해당 열을 추출하고 Series 객체 생성

In [34]:
series = data.iloc[:, 0]
series

0       2.30040
1      13.35980
2       0.12744
3       0.15876
4       0.03768
         ...
395     0.23912
396     0.04560
397     1.38799
398     7.36711
399     0.14150
Name: CRIM, Length: 400, dtype: float64

In [35]:
series.info()

<class 'pandas.core.series.Series'>
RangeIndex: 400 entries, 0 to 399
Series name: CRIM
Non-Null Count  Dtype
--------------  -----
400 non-null    float64
dtypes: float64(1)
memory usage: 3.2 KB

1.6 열의 이름을 사용하여 여러 개 열을 추출하고 DataFrame 객체 생성

In [37]:
df = data[['INDUS', 'AGE']]
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   INDUS   400 non-null    float64
 1   AGE     400 non-null    float64
dtypes: float64(2)
memory usage: 6.4 KB

1.7 열의 번호를 사용하여 여러 개 열을 추출하고 DataFrame 객체 생성

In [39]:
df = data.iloc[:, 2:5]
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   INDUS   400 non-null    float64
 1   NOX     400 non-null    float64
 2   RM      400 non-null    float64
dtypes: float64(3)
memory usage: 9.5 KB

1.8 df.iloc[행, 열]을 사용하여 원소에 접근하고 수정

In [44]:
df = data
df.iloc[5, 5]

37.2

In [46]:
df.iloc[5, 5] = 27.3
df.head(7)

       CRIM    ZN  INDUS     NOX     RM   AGE      DIS  TAX  PTRATIO  MEDV
0   2.30040   0.0  19.58  0.6050  6.319  96.1   2.1000  403     14.7  23.8
1  13.35980   0.0  18.10  0.6930  5.887  94.7   1.7821  666     20.2  12.7
2   0.12744   0.0   6.91  0.4480  6.770   2.9   5.7209  233     17.9  26.6
3   0.15876   0.0  10.81  0.4130  5.961  17.5   5.2873  305     19.2  21.7
4   0.03768  80.0   1.52  0.4040  7.274  38.3   7.3090  329     12.6  34.6
5   0.03705  20.0   3.33  0.4429  6.968  27.3   5.2447  216     14.9  35.4
6   0.07244  60.0   1.69  0.4110  5.884  18.5  10.7103  411     18.3  18.6

1.9 수정된 DataFrame을 새로운 csv파일로 저장

In [47]:
df.to_csv("boston_train_update.csv")

## 2. Boston Housing Data Set 통계 출력하기
### boston_train.csv 파일을 Pandas로 읽어서 DataFrame의 통계를 출력하세요

In [4]:
df = pd.read_csv("boston_train.csv")

df.describe()

,CRIM,ZN,INDUS,NOX,RM,AGE,DIS,TAX,PTRATIO,MEDV
count,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.00000,400.000000,400.000000
mean,3.905217,11.347500,11.377825,0.555917,6.275362,69.114000,3.753364,411.65250,18.493750,22.625500
std,9.366176,23.508075,7.011189,0.115769,0.726754,28.519856,2.106026,171.63189,2.159745,9.572593
min,0.006320,0.000000,0.460000,0.385000,3.561000,2.900000,1.129600,187.00000,12.600000,5.000000
25%,0.079710,0.000000,5.175000,0.449000,5.878750,44.850000,2.060800,277.00000,17.400000,16.600000
50%,0.281745,0.000000,9.690000,0.538000,6.209000,78.800000,3.190950,332.00000,19.100000,21.400000
75%,3.716458,12.500000,18.100000,0.625750,6.616500,94.625000,5.116700,666.00000,20.200000,25.025000
max,88.976200,100.000000,27.740000,0.871000,8.780000,100.000000,12.126500,711.00000,22.000000,50.000000

In [5]:
df.cumsum()

,CRIM,ZN,INDUS,NOX,RM,AGE,DIS,TAX,PTRATIO,MEDV
0,2.30040,0.0,19.58,0.6050,6.319,96.1,2.1000,403,14.7,23.8
1,15.66020,0.0,37.68,1.2980,12.206,190.8,3.8821,1069,34.9,36.5
2,15.78764,0.0,44.59,1.7460,18.976,193.7,9.6030,1302,52.8,63.1
3,15.94640,0.0,55.40,2.1590,24.937,211.2,14.8903,1607,72.0,84.8
4,15.98408,80.0,56.92,2.5630,32.211,249.5,22.1993,1936,84.6,119.4
...,...,...,...,...,...,...,...,...,...,...
395,1553.14478,4539.0,4504.09,220.1517,2485.945,27422.9,1486.5872,163179,7322.0,8977.4
396,1553.19038,4539.0,4517.98,220.7017,2491.833,27478.9,1489.6993,163455,7338.4,9000.7
397,1554.57837,4539.0,4526.12,221.2397,2497.783,27560.9,1493.6893,163762,7359.4,9013.9
398,1561.94548,4539.0,4544.22,221.9187,2503.976,27639.0,1495.6249,164428,7379.6,9024.9
399,1562.08698,4539.0,4551.13,222.3667,2510.145,27645.6,1501.3458,164661,7397.5,9050.2

In [50]:
df.corr()

,CRIM,ZN,INDUS,NOX,RM,AGE,DIS,TAX,PTRATIO,MEDV
CRIM,1.000000,-0.197764,0.383433,0.407698,-0.219043,0.350003,-0.377643,0.563791,0.284306,-0.375836
ZN,-0.197764,1.000000,-0.532929,-0.521745,0.328418,-0.561062,0.665677,-0.323539,-0.393904,0.365931
INDUS,0.383433,-0.532929,1.000000,0.758157,-0.393738,0.644559,-0.717796,0.722435,0.386248,-0.465083
NOX,0.407698,-0.521745,0.758157,1.000000,-0.309519,0.735999,-0.776624,0.664923,0.185284,-0.410425
RM,-0.219043,0.328418,-0.393738,-0.309519,1.000000,-0.253271,0.211441,-0.302268,-0.395436,0.685041
AGE,0.350003,-0.561062,0.644559,0.735999,-0.253271,1.000000,-0.742486,0.521723,0.260205,-0.368922
DIS,-0.377643,0.665677,-0.717796,-0.776624,0.211441,-0.742486,1.000000,-0.555040,-0.227288,0.236714
TAX,0.563791,-0.323539,0.722435,0.664923,-0.302268,0.521723,-0.555040,1.000000,0.473023,-0.449570
PTRATIO,0.284306,-0.393904,0.386248,0.185284,-0.395436,0.260205,-0.227288,0.473023,1.000000,-0.531764
MEDV,-0.375836,0.365931,-0.465083,-0.410425,0.685041,-0.368922,0.236714,-0.449570,-0.531764,1.000000

## 3. Boston Housing Data Set 조건 검색 출력
### boston_train.csv 파일을 사용하여 boolean 조건 검색 결과를 DataFrame으로 출력하는 코드를 구현하세요

3.1 CRIM 열의 평균값보다 큰 값들만 출력

In [7]:
df[df['CRIM'] > df['CRIM'].mean()]

         CRIM   ZN  INDUS    NOX     RM    AGE     DIS  TAX  PTRATIO  MEDV
1    13.35980  0.0  18.10  0.693  5.887   94.7  1.7821  666     20.2  12.7
8     4.81213  0.0  18.10  0.713  6.701   90.0  2.5975  666     20.2  16.4
10   38.35180  0.0  18.10  0.693  5.453  100.0  1.4896  666     20.2   5.0
12    4.54192  0.0  18.10  0.770  6.398   88.0  2.5182  666     20.2  25.0
22    7.75223  0.0  18.10  0.713  6.301   83.7  2.7831  666     20.2  14.9
..        ...  ...    ...    ...    ...    ...     ...  ...      ...   ...
386  18.81100  0.0  18.10  0.597  4.628  100.0  1.5539  666     20.2  17.9
387  14.33370  0.0  18.10  0.614  6.229   88.0  1.9512  666     20.2  21.4
392  18.49820  0.0  18.10  0.668  4.138  100.0  1.1370  666     20.2  13.8
393   4.09740  0.0  19.58  0.871  5.468  100.0  1.4118  403     14.7  15.6
398   7.36711  0.0  18.10  0.679  6.193   78.1  1.9356  666     20.2  11.0

[98 rows x 10 columns]

3.2 'AGE' 열의 평균값보다 작은 값들만 출력

In [8]:
df[df['AGE'] < df['AGE'].mean()]

        CRIM    ZN  INDUS     NOX     RM   AGE      DIS  TAX  PTRATIO  MEDV
2    0.12744   0.0   6.91  0.4480  6.770   2.9   5.7209  233     17.9  26.6
3    0.15876   0.0  10.81  0.4130  5.961  17.5   5.2873  305     19.2  21.7
4    0.03768  80.0   1.52  0.4040  7.274  38.3   7.3090  329     12.6  34.6
5    0.03705  20.0   3.33  0.4429  6.968  37.2   5.2447  216     14.9  35.4
6    0.07244  60.0   1.69  0.4110  5.884  18.5  10.7103  411     18.3  18.6
..       ...   ...    ...     ...    ...   ...      ...  ...      ...   ...
390  0.10612  30.0   4.93  0.4280  6.095  65.1   6.3361  300     16.6  20.1
394  0.15445  25.0   5.13  0.4530  6.145  29.2   7.8148  284     19.7  23.3
395  0.23912   0.0   9.69  0.5850  6.019  65.3   2.4091  391     19.2  21.2
396  0.04560   0.0  13.89  0.5500  5.888  56.0   3.1121  276     16.4  23.3
399  0.14150   0.0   6.91  0.4480  6.169   6.6   5.7209  233     17.9  25.3

[165 rows x 10 columns]

3.3  'MEDV' 열의 중앙값 보다 작은 값들만 출력

In [11]:
df3 = df[df['MEDV'] < df['MEDV'].median()]
df3

         CRIM    ZN  INDUS    NOX     RM    AGE      DIS  TAX  PTRATIO  MEDV
1    13.35980   0.0  18.10  0.693  5.887   94.7   1.7821  666     20.2  12.7
6     0.07244  60.0   1.69  0.411  5.884   18.5  10.7103  411     18.3  18.6
8     4.81213   0.0  18.10  0.713  6.701   90.0   2.5975  666     20.2  16.4
9     0.15086   0.0  27.74  0.609  5.454   92.7   1.8209  711     20.1  15.2
10   38.35180   0.0  18.10  0.693  5.453  100.0   1.4896  666     20.2   5.0
..        ...   ...    ...    ...    ...    ...      ...  ...      ...   ...
392  18.49820   0.0  18.10  0.668  4.138  100.0   1.1370  666     20.2  13.8
393   4.09740   0.0  19.58  0.871  5.468  100.0   1.4118  403     14.7  15.6
395   0.23912   0.0   9.69  0.585  6.019   65.3   2.4091  391     19.2  21.2
397   1.38799   0.0   8.14  0.538  5.950   82.0   3.9900  307     21.0  13.2
398   7.36711   0.0  18.10  0.679  6.193   78.1   1.9356  666     20.2  11.0

[199 rows x 10 columns]

## 4. Boston Housing Data Set 데이터 연쇄하기
- boston_train.csv 파일과 boston_test.csv 파일을 pandas로 모두 읽어서 <br>
- boston_train.csv  에서는 처음 10개 행과  boston_test.csv 의 처음
10개 행을 차례대로 하나로 합쳐 <br>
- 결과를 출력하고 <br>
- boston_batch.csv 파일로 인덱스 값을 제외하고
저장하는 코드를 구현하세요

In [12]:
train_df = pd.read_csv("boston_train.csv")
test_df = pd.read_csv("boston_test.csv")

In [22]:
augment_df = pd.concat([train_df.head(10), test_df.head(10)], axis = 0)

In [20]:
augment_df

       CRIM    ZN  INDUS     NOX     RM   AGE      DIS  TAX  PTRATIO  MEDV
0   2.30040   0.0  19.58  0.6050  6.319  96.1   2.1000  403     14.7  23.8
1  13.35980   0.0  18.10  0.6930  5.887  94.7   1.7821  666     20.2  12.7
2   0.12744   0.0   6.91  0.4480  6.770   2.9   5.7209  233     17.9  26.6
3   0.15876   0.0  10.81  0.4130  5.961  17.5   5.2873  305     19.2  21.7
4   0.03768  80.0   1.52  0.4040  7.274  38.3   7.3090  329     12.6  34.6
5   0.03705  20.0   3.33  0.4429  6.968  37.2   5.2447  216     14.9  35.4
6   0.07244  60.0   1.69  0.4110  5.884  18.5  10.7103  411     18.3  18.6
7   0.10000  34.0   6.09  0.4330  6.982  17.7   5.4917  329     16.1  33.1
8   4.81213   0.0  18.10  0.7130  6.701  90.0   2.5975  666     20.2  16.4
9   0.15086   0.0  27.74  0.6090  5.454  92.7   1.8209  711     20.1  15.2
0   0.13587   0.0  10.59  0.4890  6.064  59.1   4.2392  277     18.6  24.4
1   0.08664  45.0   3.44  0.4370  7.178  26.3   6.4798  398     15.2  36.4
2   0.26938   0.0   9.90  0.5440  6.266  82.8   3.2628  304     18.4  21.6
3   0.05302   0.0   3.41  0.4890  7.079  63.1   3.4145  270     17.8  28.7
4   0.06860   0.0   2.89  0.4450  7.416  62.5   3.4952  276     18.0  33.2
5   0.14231   0.0  10.01  0.5470  6.254  84.2   2.2565  432     17.8  18.5
6   0.16760   0.0   7.38  0.4930  6.426  52.3   4.5404  287     19.6  23.8
7   0.04301  80.0   1.91  0.4130  5.663  21.9  10.5857  334     22.0  18.2
8   0.06905   0.0   2.18  0.4580  7.147  54.2   6.0622  222     18.7  36.2
9   0.21719   0.0  10.59  0.4890  5.807  53.8   3.6526  277     18.6  22.4

In [24]:
augment_df = augment_df.reset_index(drop = True)
augment_df

        CRIM    ZN  INDUS     NOX     RM   AGE      DIS  TAX  PTRATIO  MEDV
0    2.30040   0.0  19.58  0.6050  6.319  96.1   2.1000  403     14.7  23.8
1   13.35980   0.0  18.10  0.6930  5.887  94.7   1.7821  666     20.2  12.7
2    0.12744   0.0   6.91  0.4480  6.770   2.9   5.7209  233     17.9  26.6
3    0.15876   0.0  10.81  0.4130  5.961  17.5   5.2873  305     19.2  21.7
4    0.03768  80.0   1.52  0.4040  7.274  38.3   7.3090  329     12.6  34.6
5    0.03705  20.0   3.33  0.4429  6.968  37.2   5.2447  216     14.9  35.4
6    0.07244  60.0   1.69  0.4110  5.884  18.5  10.7103  411     18.3  18.6
7    0.10000  34.0   6.09  0.4330  6.982  17.7   5.4917  329     16.1  33.1
8    4.81213   0.0  18.10  0.7130  6.701  90.0   2.5975  666     20.2  16.4
9    0.15086   0.0  27.74  0.6090  5.454  92.7   1.8209  711     20.1  15.2
10   0.13587   0.0  10.59  0.4890  6.064  59.1   4.2392  277     18.6  24.4
11   0.08664  45.0   3.44  0.4370  7.178  26.3   6.4798  398     15.2  36.4
12   0.26938   0.0   9.90  0.5440  6.266  82.8   3.2628  304     18.4  21.6
13   0.05302   0.0   3.41  0.4890  7.079  63.1   3.4145  270     17.8  28.7
14   0.06860   0.0   2.89  0.4450  7.416  62.5   3.4952  276     18.0  33.2
15   0.14231   0.0  10.01  0.5470  6.254  84.2   2.2565  432     17.8  18.5
16   0.16760   0.0   7.38  0.4930  6.426  52.3   4.5404  287     19.6  23.8
17   0.04301  80.0   1.91  0.4130  5.663  21.9  10.5857  334     22.0  18.2
18   0.06905   0.0   2.18  0.4580  7.147  54.2   6.0622  222     18.7  36.2
19   0.21719   0.0  10.59  0.4890  5.807  53.8   3.6526  277     18.6  22.4

In [29]:
augment_df.to_csv("boston_batch.csv", header=False, index=False, mode='w')
data = pd.read_csv("boston_batch.csv")

data.head()

     2.3004   0.0  19.58   0.605  6.319  96.1     2.1  403  14.7  23.8
0  13.35980   0.0  18.10  0.6930  5.887  94.7  1.7821  666  20.2  12.7
1   0.12744   0.0   6.91  0.4480  6.770   2.9  5.7209  233  17.9  26.6
2   0.15876   0.0  10.81  0.4130  5.961  17.5  5.2873  305  19.2  21.7
3   0.03768  80.0   1.52  0.4040  7.274  38.3  7.3090  329  12.6  34.6
4   0.03705  20.0   3.33  0.4429  6.968  37.2  5.2447  216  14.9  35.4