In [79]:
import pandas as pd

df = pd.read_csv("SalesKaggle3.csv")

df

,Order,File_Type,SKU_number,SoldFlag,SoldCount,MarketingType,ReleaseNumber,New_Release_Flag,StrengthFactor,PriceReg,ReleaseYear,ItemCount,LowUserPrice,LowNetPrice
0,2,Historical,1737127,0.0,0.0,D,15,1,6.827430e+05,44.99,2015,8,28.97,31.84
1,3,Historical,3255963,0.0,0.0,D,7,1,1.016014e+06,24.81,2005,39,0.00,15.54
2,4,Historical,612701,0.0,0.0,D,0,0,3.404640e+05,46.00,2013,34,30.19,27.97
3,6,Historical,115883,1.0,1.0,D,4,1,3.340110e+05,100.00,2006,20,133.93,83.15
4,7,Historical,863939,1.0,1.0,D,2,1,1.287938e+06,121.95,2010,28,4.00,23.99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198912,208023,Active,109683,NaN,NaN,D,7,1,2.101869e+05,72.87,2006,54,8.46,60.59
198913,208024,Active,416462,NaN,NaN,D,8,1,4.555041e+05,247.00,2009,65,8.40,74.85
198914,208025,Active,658242,NaN,NaN,S,2,1,1.692746e+05,50.00,2012,23,23.98,32.62
198915,208026,Active,2538340,NaN,NaN,S,2,1,3.775266e+05,46.95,2001,23,27.42,37.89
198916,208027,Active,416662,NaN,NaN,D,15,1,1.183068e+05,120.00,2010,44,10.97,60.67

In [80]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198917 entries, 0 to 198916
Data columns (total 14 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order             198917 non-null  int64
 1   File_Type         198917 non-null  object
 2   SKU_number        198917 non-null  int64
 3   SoldFlag          75996 non-null   float64
 4   SoldCount         75996 non-null   float64
 5   MarketingType     198917 non-null  object
 6   ReleaseNumber     198917 non-null  int64
 7   New_Release_Flag  198917 non-null  int64
 8   StrengthFactor    198917 non-null  float64
 9   PriceReg          198917 non-null  float64
 10  ReleaseYear       198917 non-null  int64
 11  ItemCount         198917 non-null  int64
 12  LowUserPrice      198917 non-null  float64
 13  LowNetPrice       198917 non-null  float64
dtypes: float64(6), int64(6), object(2)
memory usage: 21.2+ MB

In [81]:
value_counts_col = {col: df[col].value_counts() for col in df.columns}

value_counts_col

{'Order': 2         1
 141739    1
 141717    1
 141718    1
 141719    1
          ..
 74041     1
 74042     1
 74043     1
 74045     1
 208027    1
 Name: Order, Length: 198917, dtype: int64,
 'File_Type': Active        122921
 Historical     75996
 Name: File_Type, dtype: int64,
 'SKU_number': 859088     2
 913764     2
 2562548    2
 618294     2
 657100     2
           ..
 347292     1
 143511     1
 143003     1
 2502288    1
 1497601    1
 Name: SKU_number, Length: 133360, dtype: int64,
 'SoldFlag': 0.0    63000
 1.0    12996
 Name: SoldFlag, dtype: int64,
 'SoldCount': 0.0     63000
 1.0      8179
 2.0      2545
 3.0      1018
 4.0       483
 5.0       253
 6.0       149
 7.0       121
 8.0        62
 9.0        32
 10.0       30
 12.0       28
 11.0       21
 14.0       11
 13.0       10
 16.0        9
 15.0        6
 18.0        5
 22.0        4
 19.0        4
 17.0        3
 27.0        3
 26.0        3
 36.0        2
 24.0        2
 21.0        2
 73.0        1
 34.0        1
 69.0        1
 20.0        1
 35.0        1
 28.0        1
 51.0        1
 33.0        1
 25.0        1
 40.0        1
 30.0        1
 Name: SoldCount, dtype: int64,
 'MarketingType': S    100946
 D     97971
 Name: MarketingType, dtype: int64,
 'ReleaseNumber': 1     35936
 2     35641
 0     35227
 3     22484
 4     15819
       ...
 67        1
 70        1
 64        1
 68        1
 95        1
 Name: ReleaseNumber, Length: 71, dtype: int64,
 'New_Release_Flag': 1    127754
 0     71163
 Name: New_Release_Flag, dtype: int64,
 'StrengthFactor': 1.299920e+05    3
 3.425200e+05    3
 5.865500e+04    3
 5.791100e+04    3
 2.821000e+04    3
                ..
 1.732713e+06    1
 8.864120e+05    1
 4.846824e+06    1
 6.491490e+05    1
 1.183068e+05    1
 Name: StrengthFactor, Length: 197424, dtype: int64,
 'PriceReg': 49.95     2864
 0.00      2549
 39.95     2359
 24.95     2150
 29.95     1945
           ...
 105.63       1
 16.92        1
 228.23       1
 167.93       1
 200.16       1
 Name: PriceReg, Length: 11627, dtype: int64,
 'ReleaseYear': 2010    15683
 2008    14822
 2009    14792
 2011    14699
 2007    14503
         ...
 1927        1
 1946        1
 1941        1
 2018        1
 1923        1
 Name: ReleaseYear, Length: 85, dtype: int64,
 'ItemCount': 21      5475
 20      5376
 18      5369
 22      5366
 19      5300
         ...
 585        1
 635        1
 1634       1
 482        1
 567        1
 Name: ItemCount, Length: 501, dtype: int64,
 'LowUserPrice': 4.00      25177
 0.00       9477
 3.99        990
 4.98        846
 33.99       542
           ...
 103.23        1
 60.06         1
 75.12         1
 129.83        1
 2.35          1
 Name: LowUserPrice, Length: 12102, dtype: int64,
 'LowNetPrice': 0.00      6724
 23.99     1321
 28.99     1167
 33.99     1098
 18.99     1070
           ...
 253.84       1
 105.84       1
 164.90       1
 192.33       1
 229.35       1
 Name: LowNetPrice, Length: 15403, dtype: int64}

In [82]:
value_counts_col['Order'].sort_values(ascending = True)

2         1
27        1
26        1
14        1
4         1
         ..
208021    1
208022    1
208023    1
207952    1
208027    1
Name: Order, Length: 198917, dtype: int64

In [83]:
df.value_counts(subset=['File_Type', 'New_Release_Flag'])

File_Type   New_Release_Flag
Active      1                   67788
Historical  1                   59966
Active      0                   55133
Historical  0                   16030
dtype: int64

In [84]:
# 타겟 변수 이진 변수화
df['MarketingType'] = df['MarketingType'].apply(lambda x: 1 if x == 'S' else 0)

In [85]:
# 상관관계 계산
correlation_matrix = df.corr()
print(correlation_matrix)

                     Order  SKU_number  SoldFlag  SoldCount  MarketingType  \
Order             1.000000    0.042315 -0.173916  -0.120138       0.124974
SKU_number        0.042315    1.000000 -0.108202  -0.072361       0.084587
SoldFlag         -0.173916   -0.108202  1.000000   0.607248      -0.220692
SoldCount        -0.120138   -0.072361  0.607248   1.000000      -0.157055
MarketingType     0.124974    0.084587 -0.220692  -0.157055       1.000000
ReleaseNumber    -0.051046   -0.210245  0.075940   0.055435      -0.044706
New_Release_Flag -0.047702   -0.296522  0.006877  -0.005201      -0.006678
StrengthFactor   -0.148539    0.178424 -0.144816  -0.109237      -0.314011
PriceReg         -0.050550   -0.144848  0.084213   0.056702      -0.160178
ReleaseYear       0.037010   -0.117989  0.071994   0.070090       0.159383
ItemCount         0.025081   -0.259904  0.236860   0.224002      -0.069350
LowUserPrice     -0.292686   -0.058901  0.058525   0.042608      -0.040640
LowNetPrice      -0.022892    0.035728 -0.013734  -0.011965      -0.041853

                  ReleaseNumber  New_Release_Flag  StrengthFactor  PriceReg  \
Order                 -0.051046         -0.047702       -0.148539 -0.050550
SKU_number            -0.210245         -0.296522        0.178424 -0.144848
SoldFlag               0.075940          0.006877       -0.144816  0.084213
SoldCount              0.055435         -0.005201       -0.109237  0.056702
MarketingType         -0.044706         -0.006678       -0.314011 -0.160178
ReleaseNumber          1.000000          0.561506       -0.066511  0.167343
New_Release_Flag       0.561506          1.000000       -0.023783  0.161047
StrengthFactor        -0.066511         -0.023783        1.000000  0.033239
PriceReg               0.167343          0.161047        0.033239  1.000000
ReleaseYear            0.115710          0.068657       -0.275417 -0.010082
ItemCount              0.164814          0.147317       -0.249535  0.067112
LowUserPrice           0.086223          0.084557        0.022484  0.135210
LowNetPrice            0.017594          0.016698        0.055824  0.117767

                  ReleaseYear  ItemCount  LowUserPrice  LowNetPrice
Order                0.037010   0.025081     -0.292686    -0.022892
SKU_number          -0.117989  -0.259904     -0.058901     0.035728
SoldFlag             0.071994   0.236860      0.058525    -0.013734
SoldCount            0.070090   0.224002      0.042608    -0.011965
MarketingType        0.159383  -0.069350     -0.040640    -0.041853
ReleaseNumber        0.115710   0.164814      0.086223     0.017594
New_Release_Flag     0.068657   0.147317      0.084557     0.016698
StrengthFactor      -0.275417  -0.249535      0.022484     0.055824
PriceReg            -0.010082   0.067112      0.135210     0.117767
ReleaseYear          1.000000   0.033456      0.022759    -0.018850
ItemCount            0.033456   1.000000      0.002236    -0.071282
LowUserPrice         0.022759   0.002236      1.000000     0.045149
LowNetPrice         -0.018850  -0.071282      0.045149     1.000000

C:\Users\82102\AppData\Local\Temp\ipykernel_30212\3839792494.py:2: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  correlation_matrix = df.corr()

In [86]:
import matplotlib.pyplot as plt
import matplotlib.font_manager as fm

# 한글 폰트 설정 (예: 맑은 고딕)
plt.rc('font', family='Malgun Gothic')  # Windows 사용자

# 한글 깨짐 방지를 위한 마이너 문제 해결
plt.rcParams['axes.unicode_minus'] = False

In [104]:
df['Itemvalue'] = df['ItemCount'] * df['PriceReg']

In [106]:
df['ItemAge'] = 2024 - df['ReleaseYear'] + 1

In [108]:
df['MOC'] = df['ItemCount'] / (df['SoldCount'] / 6)

In [109]:
df

,Order,File_Type,SKU_number,SoldFlag,SoldCount,MarketingType,ReleaseNumber,New_Release_Flag,StrengthFactor,PriceReg,ReleaseYear,ItemCount,LowUserPrice,LowNetPrice,Itemvalue,ItemAge,MOC
0,2,Historical,1737127,0.0,0.0,0,15,1,6.827430e+05,44.99,2015,8,28.97,31.84,359.92,10,inf
1,3,Historical,3255963,0.0,0.0,0,7,1,1.016014e+06,24.81,2005,39,0.00,15.54,967.59,20,inf
2,4,Historical,612701,0.0,0.0,0,0,0,3.404640e+05,46.00,2013,34,30.19,27.97,1564.00,12,inf
3,6,Historical,115883,1.0,1.0,0,4,1,3.340110e+05,100.00,2006,20,133.93,83.15,2000.00,19,120.0
4,7,Historical,863939,1.0,1.0,0,2,1,1.287938e+06,121.95,2010,28,4.00,23.99,3414.60,15,168.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198912,208023,Active,109683,NaN,NaN,0,7,1,2.101869e+05,72.87,2006,54,8.46,60.59,3934.98,19,NaN
198913,208024,Active,416462,NaN,NaN,0,8,1,4.555041e+05,247.00,2009,65,8.40,74.85,16055.00,16,NaN
198914,208025,Active,658242,NaN,NaN,1,2,1,1.692746e+05,50.00,2012,23,23.98,32.62,1150.00,13,NaN
198915,208026,Active,2538340,NaN,NaN,1,2,1,3.775266e+05,46.95,2001,23,27.42,37.89,1079.85,24,NaN
198916,208027,Active,416662,NaN,NaN,0,15,1,1.183068e+05,120.00,2010,44,10.97,60.67,5280.00,15,NaN

In [87]:
historical_data = df[df['File_Type'] == 'Historical']

historical_data

,Order,File_Type,SKU_number,SoldFlag,SoldCount,MarketingType,ReleaseNumber,New_Release_Flag,StrengthFactor,PriceReg,ReleaseYear,ItemCount,LowUserPrice,LowNetPrice
0,2,Historical,1737127,0.0,0.0,0,15,1,682743.0,44.99,2015,8,28.97,31.84
1,3,Historical,3255963,0.0,0.0,0,7,1,1016014.0,24.81,2005,39,0.00,15.54
2,4,Historical,612701,0.0,0.0,0,0,0,340464.0,46.00,2013,34,30.19,27.97
3,6,Historical,115883,1.0,1.0,0,4,1,334011.0,100.00,2006,20,133.93,83.15
4,7,Historical,863939,1.0,1.0,0,2,1,1287938.0,121.95,2010,28,4.00,23.99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75991,85102,Historical,863599,0.0,0.0,1,2,1,119056.0,64.99,2008,34,32.49,53.00
75992,85103,Historical,614304,0.0,0.0,1,6,1,1115312.0,21.50,2004,53,47.99,21.97
75993,85104,Historical,109021,0.0,0.0,1,7,1,1315446.0,142.75,2006,19,47.99,53.99
75994,85105,Historical,658242,0.0,0.0,1,2,1,877788.0,50.00,2012,21,27.07,32.62
75995,85106,Historical,2538340,0.0,0.0,1,2,1,500956.0,46.95,2001,23,0.00,37.89

In [88]:
y = historical_data['SoldFlag']

X = historical_data.drop(['SoldFlag', 'File_Type'], axis = 1)

In [89]:
X.shape, y.shape

((75996, 12), (75996,))

In [90]:
from sklearn.utils import resample
from imblearn.over_sampling import SMOTE

smote = SMOTE(random_state=42)
X, y = smote.fit_resample(X, y)

In [91]:
X.shape, y.shape

((126000, 12), (126000,))

In [92]:
X = X.drop(['Order', 'SKU_number', 'MarketingType', 'ReleaseNumber'], axis = 1)

In [93]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
scaler.fit(X)
X = scaler.transform(X)

In [94]:
from sklearn.model_selection import train_test_split

# 데이터 나누기 (80:20 비율)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# 결과 확인
print("Train 데이터 개수:", len(X_train))
print("Test 데이터 개수:", len(X_test))

Train 데이터 개수: 100800
Test 데이터 개수: 25200

In [95]:
y_test.value_counts()

0.0    12723
1.0    12477
Name: SoldFlag, dtype: int64

In [102]:
X.columns()

AttributeError: 'numpy.ndarray' object has no attribute 'columns'

In [100]:
y_train

28655     0.0
82286     1.0
88994     1.0
82219     1.0
29478     0.0
         ...
119879    1.0
103694    1.0
860       0.0
15795     0.0
121958    1.0
Name: SoldFlag, Length: 100800, dtype: float64

In [96]:
pd.DataFrame(X_train)

,0,1,2,3,4,5,6,7
0,0.000000,0.0,0.013887,0.027419,0.926829,0.026264,0.000000,0.003484
1,0.058977,1.0,0.066382,0.010174,0.829268,0.017072,0.003148,0.000707
2,0.013699,1.0,0.085128,0.013676,0.926829,0.032830,0.004114,0.001871
3,0.013699,1.0,0.046133,0.057273,0.865854,0.024294,0.009453,0.002541
4,0.000000,1.0,0.028421,0.022063,0.890244,0.027577,0.003423,0.001124
...,...,...,...,...,...,...,...,...
100795,0.013699,1.0,0.048015,0.002869,0.902439,0.033487,0.009601,0.002817
100796,0.031119,0.0,0.014039,0.025260,0.963415,0.038739,0.011889,0.001238
100797,0.000000,1.0,0.034723,0.077252,0.878049,0.026264,0.005915,0.003859
100798,0.000000,1.0,0.082952,0.050159,0.939024,0.022981,0.004935,0.001243
100799,0.013699,0.0,0.078706,0.022694,0.597561,0.030204,0.015122,0.002714

In [97]:
import matplotlib.pyplot as plt
import seaborn as sns

# 분포 확인
sns.histplot(X['PriceReg'], kde=True)
plt.title('StrengthFactor Distribution')
plt.show()

# 통계 요약
print(X['PriceReg'].describe())

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

In [98]:
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LogisticRegression

# 하이퍼파라미터 그리드 설정
param_grid = {
    'C': [0.001, 0.005, 0.01, 0.1],
    'penalty': ['l1', 'l2'],
    'solver': ['saga', 'liblinear']
}

# GridSearchCV로 최적의 하이퍼파라미터 탐색
grid = GridSearchCV(LogisticRegression(), param_grid, cv=5)
grid.fit(X_train, y_train)

print("최적 하이퍼파라미터: ", grid.best_params_)
print("최고 교차 검증 점수: ", grid.best_score_)

C:\Users\82102\PycharmProjects\iM_ML-DL\.venv\lib\site-packages\sklearn\linear_model\_sag.py:349: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(
C:\Users\82102\PycharmProjects\iM_ML-DL\.venv\lib\site-packages\sklearn\linear_model\_sag.py:349: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(
C:\Users\82102\PycharmProjects\iM_ML-DL\.venv\lib\site-packages\sklearn\linear_model\_sag.py:349: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(
C:\Users\82102\PycharmProjects\iM_ML-DL\.venv\lib\site-packages\sklearn\linear_model\_sag.py:349: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(
C:\Users\82102\PycharmProjects\iM_ML-DL\.venv\lib\site-packages\sklearn\linear_model\_sag.py:349: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(

최적 하이퍼파라미터:  {'C': 0.1, 'penalty': 'l1', 'solver': 'saga'}
최고 교차 검증 점수:  1.0

C:\Users\82102\PycharmProjects\iM_ML-DL\.venv\lib\site-packages\sklearn\linear_model\_sag.py:349: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(